In [1]:
import pandas as pd

In [28]:
products = ['A', 'B', 'C', 'D']
product_categories = pd.Series(products)
additional_products = pd.Series(['E', 'F', 'G', 'H'])

final_products = pd.concat([product_categories, additional_products], axis=0)

In [29]:
final_products

0    A
1    B
2    C
3    D
0    E
1    F
2    G
3    H
dtype: object

In [31]:
n = []
final_products_size = final_products.size

for i in range(final_products_size):
  n.append(i)

In [32]:
n

[0, 1, 2, 3, 4, 5, 6, 7]

In [33]:
final_products.index = n
final_products

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
dtype: object